.header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px;
    margin: 0px 0px;
    border-radius: 12px 12px 0px 0px;
}

.title {
    text-decoration: none;
    font-weight: bold;
    color: white;

    &:hover {
        text-decoration: underline;
    }
}