.footerContainer {
    padding-bottom:60px;
}

.footer {
    border-top: 1px solid black;   
    text-align: center;
    padding: 10px 0px;
    margin-top: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}