@use 'sass:color';

$percentage-step: 12%;

$color-map: (
  primary: #146c92,
  grey: #777777,
  error: #f8e6e9,
  errorBorder: #BB0A21,
  warning: #fffacd,
  info: #fffacd,
  warningBorder: #e5db64,
  success: #4b8e6b,
  black: #000000,
  white: #ffffff,
);

:root {
  @each $key, $value in $color-map {
    --color-#{$key}: #{$value};
    
    @for $i from 4 through 1 {
      $index: 500 - ($i * 100);
      --color-#{$key}-#{$index}: #{color.scale($value, $lightness: $percentage-step * $i)};
    }

    --color-#{$key}-500: #{$value};

    @for $i from 1 through 4 {
      $index: 500 + ($i * 100);
      --color-#{$key}-#{$index}: #{color.scale($value, $lightness: $percentage-step * -$i)};
    }
  }
}
