.rules {
    max-width: 1200px;
    .ruleTrigger {
        display: flex;
        width: 100%;
        text-align: left;
        padding: 20px;
        font-weight: 800;
        justify-content: space-between;
        align-items: center;
    }
    input:checked~label>.ruleTrigger>svg {
        rotate: 180deg;
    }
    .ruleContent {
        padding: 20px;
        line-height: 2rem;
        word-spacing: 10%;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}