.accordionWrapper {
  margin: 50px auto;
  width: 75%;
  position: relative;

  &:first-of-type {
    border-top: 1px solid #ccc;
  }

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;

    > div > .rotated {
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }
  }

  @media (min-width: 768px) {
    &:has(> div > input:checked) .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      transition: 0.2s ease;
    }
  }

  input {
    display: none;

    & ~ .content {
      max-height: 0;
      overflow: hidden;
      right: -100%;
    }

    &:checked ~ .content {
      max-height: 1250px;
      border-bottom: 1px solid #ccc;
      padding: 0px 10px 20px 0px;

      @media (min-width: 768px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 30%;
        overflow-y: auto;
        padding-left: 20px;
        z-index: 20;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
        transition: right 0.2s ease;
        z-index: 1001;

        .accordionContent {
          margin-left: 10px;
        }
      }

      .closeButton {
        margin-top: 28px;
        z-index: 20;
        &:hover {
          color: #848484;
        }
      }

      @media (max-width: 767px) {
        .closeButton {
          display: none;
        }
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 767px) {
        &.active {
            border-bottom: none;
        }
    }
  }
}
