.accordionWrapper {
  margin: auto;
  width: 100%;
  position: relative;

  &:first-of-type {
    border-top: 1px solid #ccc;
  }

  @media (min-width: 768px) {
    .checkbox:checked~.backdrop {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      transition: 0.2s ease;
    }
  }

  .checkbox {
    display: none;

    &~.content {
      max-height: 0;
      overflow: hidden;
      right: -100%;
    }

    &:checked~.content {
      max-height: 1250px;
      border-bottom: 1px solid #ccc;
      padding: 0px 0px 20px 0px;

      @media (min-width: 768px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        overflow-y: auto;
        z-index: 20;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
        transition: right 0.2s ease;
        z-index: 1001;

        .borderBottom {
          border-bottom: 1px solid #ccc;
        }

        @media (min-width: 1024px) {
          transition: all 0.2s ease;
          width: 40%;
        }

        @media (max-width: 1023px) {
          transition: all 0.2s ease;
          width: 75%;
        }
      }

      .close {
        display: flex;
        width: fit-content;
        padding: 15px 10px;
        cursor: pointer;

        &:hover {
          color: #848484;
          transition: transform 0.2s ease;
          transform: scale(1.15);
        }
      }

      @media (max-width: 767px) {
        .close {
          display: none;
        }
      }
    }

    @media (max-width: 767px) {
      &:checked~.trigger {
        border-bottom: 1px solid transparent;
      }

      &:checked ~.trigger  svg {
        transition: transform 0.2s ease;
        transform: rotate(90deg);
      }
    }
  }

  .trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 767px) {
      & svg {
        transition: transform 0.2s ease;
        transform: rotate(-90deg);
      }
    }
  }
}

