.accordionWrapper {
  margin: auto;
  width: 75%;
  position: relative;

  &:first-of-type {
    border-top: 1px solid #ccc;
  }

  @media (min-width: 768px) {
    &:has(> div > input:checked) .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      transition: 0.2s ease;
    }
  }

  .checkbox {
    display: none;

    & ~ .content {
      max-height: 0;
      overflow: hidden;
      right: -100%;
    }
    
    &:checked ~ .content {
      max-height: 1250px;
      border-bottom: 1px solid #ccc;
      padding: 0px 10px 20px 0px;

      @media (min-width: 768px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;
        overflow-y: auto;
        z-index: 20;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
        transition: right 0.2s ease;
        z-index: 1001;
      }

      .close {
        padding: 15px 10px;
        z-index: 20;
        &:hover {
          color: #848484;
        }
      }

      @media (max-width: 767px) {
        .close {
          display: none;
        }
      }
    }

    @media (max-width: 767px) {
      &:checked ~ .trigger {
        border-bottom: 1px solid transparent;
      }
      
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
