.accordion {
    width: 100%;
    .checkbox {
        display: none; // Hide the checkbox visually but it’s still accessible
    }
    .trigger {
        cursor: pointer;
        width: 100%;
    }
    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms ease-out; // Adjust the timing to your liking
        // Styles for the accordion content
    }
    .checkbox:checked+.trigger+.content {
        max-height: 100vh; // Set to a value that’s guaranteed to be higher than the content’s height
        // You might need to adjust this depending on your content
    }
}